body{

}
.App {
 background-color: grey;
 
}
main{
 
}
.cardDiv{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding:1em ;

}
.headerChoose{
  color: white;
  text-align: center;
  
}



